/* MovieCars.module.css */
.cardContainer {
    display: flex;
    /* color: black; */
    background-color: lightblue;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 22px;
    min-width: 300px;
    width: 450px;
    height: 326px;
  }
.imageContainer {
  min-width: 120px;
  width: 50%
  /* height: 150px; */
}
.image{
  height: 326px;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 50%;
  justify-content: space-between;

}

.infoContainer {
  align-content: center;
  /* padding: 0px 20px; */
  width: 65%;
}

.title {
  width:100%;
  color:white;
  font-weight: bold;
}

.btnsContainer {
  align-content: center;
  justify-content: center;
  align-items: center;
}

.btnCard{
  margin: 12px 0px;
}

.link{
  display: flex;
  justify-content: center;
}


.description{
  font-size: 16px;
}
.genres{
  font-style: bold;
}
