.search-bar {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.suggestions {
    color: black;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background: #f0f0f0;
}